.modalWindowContainer {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: auto;
    pointer-events: none;
    opacity: 0;
    transition: .2s ease-in-out;
    z-index: 1;
}

.modalWindowContainer.active {
    opacity: 1;
    pointer-events: all;
}

.modalWindowUnContainer {
    max-height: 450px;
    max-width: 1200px;
    width: 300px;
    background-color: rgb(39, 59, 44);
    box-shadow: 0 0 10px 5px rgb(57, 87, 64);
    opacity: 0.1;
    transition: .3s ease-in-out;
    border-radius: 10px;
    overflow: auto;
}

.modalWindowUnContainer.active {
    opacity: 1;
    pointer-events: all;
}

.windowHeadContainer {
    font-size: 24px;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

.windowHead {
    margin: auto 0;
}

.closeWindowBtn {
    height: 35px;
    width: 35px;
    font-size: 28px;
    font-weight: lighter;
    cursor: pointer;
    margin-left: auto;
    transition: .5s;
}

.closeWindowBtn:hover {
    border-radius: 30px;
    background-color: rgb(65, 85, 71);
}

.closeWindowBtn:after {
    content: "\00d7";
}
