.container {
    display: flex;
    background-color: rgb(39, 54, 43);
    margin-top: auto;
}

.unContainer {
    width: 100%;
    padding: 10px;
    display: flex;  
    margin: auto 10px auto auto;
}

.unContainer textarea {
    width: 100%;
    max-height: 100px;
    background-color: rgb(39, 54, 43);
    text-decoration: none;
    border: none;
    font-size: 14px;
    outline: none;
    color: white;
    white-space: normal;
    resize: none;
}

.unContainer img {
    cursor: pointer;
    margin: auto 0;
}