.loginUnContainer {
    display: flex;
}

.loginUnContainer input {
    width: 100%;
    background-color: rgb(39, 59, 44);
    margin-left: 20px;
    color: white;
    font-size: 14px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(42, 129, 68);
    transition: .1s
}

.loginUnContainer input:focus {
    border-bottom: 2px solid rgb(80, 255, 133);
    color: rgb(80, 255, 133);
}